<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Manhattan weather forecast in under 100ms">
    <meta property="og:email" content="julian@juliannorton.com">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="style.css">
    <title>NYC Weather</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));

            if (
                "IntersectionObserver" in window &&
                "IntersectionObserverEntry" in window &&
                "intersectionRatio" in window.IntersectionObserverEntry.prototype
            ) {
                let lazyImageObserver = new IntersectionObserver(function (
                    entries,
                    observer
                ) {
                    entries.forEach(function (entry) {
                        if (entry.isIntersecting) {
                            let lazyImage = entry.target;
                            lazyImage.src = lazyImage.dataset.src;
                            lazyImage.srcset = lazyImage.dataset.srcset;
                            lazyImage.classList.remove("lazy");
                            lazyImageObserver.unobserve(lazyImage);
                        }
                    });
                });

                lazyImages.forEach(function (lazyImage) {
                    lazyImageObserver.observe(lazyImage);
                });
            }
        });
    </script>

</head>

<body class="wrapper" id="weather-milliseconds">
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>