{% extends "base.html" %}

{% block content %}
<article class="container">
    <header>
        <h3>Weather for {{areaDescription}}</h3>
        <a href="/">Refresh</a>
    </header>
    <section>
        <ol class="olist">
            <li>
                <img class="lazy" alt="Radar loop of the northeast United States" width="500" src="https://radar.weather.gov/ridge/Conus/Loop/northeast_loop.gif" data-srcset="https://radar.weather.gov/ridge/Conus/Loop/northeast_loop.gif" async="">
            </li>
            <li>
                <h3>{{forecast_time}} – {{forecast_data_weather}}</h3>
                <p>{{forecast_data_text}}</p>
            </li>
            <li>
                <h3>{{forecast_time_1}} – {{forecast_data_weather_1}}</h3>
                <p>{{forecast_data_text_1}}</p>
            </li>
            <li>
                <h3>{{forecast_time_2}} – {{forecast_data_weather_2}}</h3>
                <p>{{forecast_data_text_2}}</p>
            </li>
            <li>
                <h3>{{forecast_time_3}} – {{forecast_data_weather_3}}</h3>
                <p>{{forecast_data_text_3}}</p>
            </li>
        </ol>
    </section>
    <footer>
        <dl>
            <!-- <dt>Forecast created:</dt> -->
            <!-- <dd>{{creationDateLocal}}</dd>-->
            <dt>Forecast  cached:</dt>
            <dd>{{timestamp}} (UTC)</dd>
        </dl>
    </footer>
</article>
{% endblock %}
