{% extends "base.html" %}

{% block content %}
<article class="container">
    <header>
        <h3>
            <!-- Show name of point only if the areaDescription is available -->
            Weather {% if areaDescription %} for {{areaDescription}} {% endif %} 
        </h3>
        <a href="/">Refresh</a>
    </header>
    <section>
        <ol class="olist">
            <li>
                <img style="min-width: 100%" 
                    class="lazy" 
                    alt="Radar loop of the northeast United States" 
                    width="500" 
                    src="https://radar.weather.gov/ridge/Conus/Loop/northeast_loop.gif" 
                    data-srcset="https://radar.weather.gov/ridge/Conus/Loop/northeast_loop.gif" async="">
            </li>

            {% for period in periodic_data %}
                <li>
                    
                    <h3>{{period.name}} – {{period.shortForecast}}  <img class='weather-icon' src={{period.icon}} height="30px" width="30px"> </h3>
                    <p>{{period.detailedForecast}}</p>
                </li>
            {% endfor %}

        </ol>
    </section>
    <footer>
        <dl>
            <!-- <dt>Forecast created:</dt> -->
            <!-- <dd>{{creationDateLocal}}</dd>-->
            <dt>Forecast  cached:</dt>
            <dd>{{timestamp}} (UTC)</dd>
        </dl>
    </footer>
</article>
{% endblock content %}
