<!DOCTYPE html>
<style>
    body {
        background-color: #dddddd;
    }
</style>
<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} – Weather Milliseconds</title>
        {% else %}
        <title>Milliseconds</title>
        {% endif %}
    </head>
    <body id="weather-milliseconds">
        <header>
            <h1>Weather Milliseconds: <a href="/">Home</a></h1>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>